<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FileSearchResults" type="TheSeeker.Forms.ConfigSection,FileSearchResults"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="SearchManagerFactory" value="TheSeeker.Forms.SearchManagerFactory,FileSearchResults"/>
  </appSettings>
  <FileSearchResults listRefreshInterval="100" searchEngine="TheSeeker.FileSearchEngine,FileSearchEngine"/>
</configuration>
