<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FormDisplaySearchResultsSettings" type="TheSeeker.Configuration.FormDisplaySearchResultsSettings,TheSeeker"/>
    <section name="SearchType" type="TheSeeker.Configuration.SearchTypesConfigurationSection,TheSeeker"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
  </appSettings>
  <FormDisplaySearchResultsSettings searchType="System.IO.FileSystemInfo" operationTrackerType="TheSeeker.OperationIntervalClock,Core" listRefreshInterval="100" />
  <SearchType>
    <SearchTypes>
      <Type typeName="System.IO.FileSystemInfo" searchEngineType="TheSeeker.FileSearchEngine,FileSearchEngine"
            searchResultsConsumerType="TheSeeker.Forms.FileSearchResultsForm`1,FormsFileSearch"
            searchManagerFactoryType="TheSeeker.Forms.SearchManagerFactory`2,FormsFileSearch" />
    </SearchTypes>
  </SearchType>
</configuration>
