<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CurrentFormsSearchConfiguration" type="TheSeeker.Configuration.CurrentFormsSearchConfiguration,TheSeeker"/>
    <section name="SearchType" type="TheSeeker.Configuration.SearchTypesConfigurationSection,Shared"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
  </appSettings>
  <CurrentFormsSearchConfiguration searchType="System.IO.FileSystemInfo" operationTrackerType="TheSeeker.OperationIntervalClock,Core" listRefreshInterval="100" />
  <SearchType>
    <SearchTypes>
      <Type typeName="System.IO.FileSystemInfo" searchEngineType="TheSeeker.FileSystem.FileSearchEngine,FileSearchEngine"
            searchResultsConsumerType="TheSeeker.FileSystem.Forms.FileSearchResultsForm`1,FormsFileSearchConsumer"
            searchManagerType="TheSeeker.FileSystem.Forms.FileSearchManager`1,FormsFileSearchConsumer" />
    </SearchTypes>
  </SearchType>
</configuration>
